/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  
HEAD
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

.head {
    padding: 6rem 2rem;
    text-align: center;
}

canvas {
    position: absolute;
    width: 100%;
    height: 95%;
}

@media only screen and (min-width: 1024px) {
    .head {
        padding: 12rem;
    }
}


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  
PROJECTS
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

#projects,
#about {
    padding: 8rem 0rem;
}

.proj-card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 1rem 2rem 3rem #F5F5F5;
    padding: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
    .proj-card {
        min-height: 24rem;
    }
}